header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 151px 0;
}
@media (max-width: 767px) {
   header{
    padding: 87px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/img/about/hero-sm.png);
   }
}

h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: white;
}
h3{
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.05em;
}
.title{
     padding: 151px 0;
     margin: 0 auto;
     max-width: 100%;
}
@media (max-width: 767px) {
   .title{
    padding: 0;
   }
}

.text{
    background-color: var(--Primary-100);
}
.text h5{
    text-align: center;
}
.text p{
    text-align: center;
}
.img img{
    max-width: 100%;
    display: block;
    height: auto;
}
.disc{
    list-style: disc;
}
.story ul li a{
    color: var(--primary-400);
    border-bottom: 1px var(--primary-400) solid;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}
.story ul li a:hover{
    color: var(--neutral-900);
}
.icon{
    padding-right: 10px;
    color: var(--primary-400);
}
footer{
    text-align: center;
    font-weight: 400;
    color: var(--neutral600);
    background-color: var(--neutral-100);
}
@media (max-width: 767px) {
   footer nav{
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
   }
   footer nav ul{
    flex-direction: column;
    align-items: flex-start;
   }
   footer nav a{
    margin: 0;
    align-self: flex-start;
   }
   footer nav ul li a{
    margin: 0;
    align-self: flex-start;
   } 
}


h1, h2, h3, h4, h5, p, li, a{
    font-family: 'Noto Sans TC',sans-serif;
}
p, li{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.05em;
}
h4{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--neutral-900);
}
h5{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    font-weight: 700;
    color: var(--primary-400);
}
.bor-b{
    border-bottom: 1px solid var(--Neutral-300);
}
.bor-l{
    border-left: 1px solid var(--Neutral-900) ;
    padding-left: 8px;
}

.bor-t{
    border-top: 1px solid var(--Neutral-300);
}
